[Unit]
Description={{ minecraft_service_name | title }} Server Console

[Socket]
ListenFIFO={{ minecraft_console_fifo }}
SocketUser={{ minecraft_user }}
SocketGroup={{ minecraft_group }}
SocketMode={{ minecraft_console_fifo_mode }}

[Install]
WantedBy=sockets.target
