[program:{{ minecraft_service_name }}]
command=/usr/bin/java -Xmx{{ minecraft_max_memory}} -Xms{{ minecraft_initial_memory }} -jar {{ minecraft_jar }} nogui
directory={{ minecraft_home }}
user={{ minecraft_user }}
group={{ minecraft_group }}
autostart=true
autorestart=true
stdout_logfile={{ minecraft_home }}/logs/latest.log
redirect_stderr=true
