name: docs build

on:
  push:
    paths:
    - 'docs/**'
    - 'requirementsDocs.txt'

jobs:
  docs:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      fail-fast: false
      matrix:
        python-version: [3.8]    
        scenario-name: 
          - docs
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: 'x64'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox tox-gh-actions
      - name: Test with tox
        env:
           mc_accept_eula: ${{ secrets.MC_ACCEPT_EULA }}
        run: tox -e ${{ matrix.scenario-name }}
